.container {
  width: 100%;
  max-width: 130rem;
  margin: 0 auto;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Rubik", sans-serif;
  font-size: 1.6rem;
  line-height: 1;
  font-weight: 400;
  color: #1c1c1c;
}

a {
  text-decoration: none;
}

.heading-primary {
  font-size: 6.2rem;
  line-height: 1.05;
  margin-bottom: 1.6rem;
}

.heading-secondary {
  font-size: 4.4rem;
  line-height: 1.05;
}

.heading-tertiary {
  font-size: 3rem;
  line-height: 1.2;
}

.subheading {
  font-size: 2rem;
  font-weight: 500;
  text-transform: uppercase;
}

.hero-description {
  font-size: 2rem;
  line-height: 1.6;
  margin-bottom: 4.8rem;
}

.btn,
.btn:link,
.btn:visited {
  display: inline-block;
  background: #015891;
  color: white;
  text-decoration: none;
  font-weight: 600;
  font-size: 1.8rem;
  padding: 1.6rem 3.2rem;
  border-radius: 1rem;
  letter-spacing: 0.5px;
}
.btn:hover, .btn:active,
.btn:link:hover,
.btn:link:active,
.btn:visited:hover,
.btn:visited:active {
  background: #014776;
}

.btn--secondary,
.btn--secondary:link,
.btn-secondary:visited {
  background: #fff;
  color: #1c1c1c;
}
.btn--secondary:hover, .btn--secondary:active,
.btn--secondary:link:hover,
.btn--secondary:link:active,
.btn-secondary:visited:hover,
.btn-secondary:visited:active {
  background: none;
  box-shadow: inset 0 0 0 3px #fff;
}

.btn--cta,
.btn--cta:link,
.btn-cta:visited {
  padding: 1.2rem 2.4rem;
}

.btn-grouping {
  display: flex;
  gap: 2.4rem;
}

.section-hero {
  background: #fdf2e9;
  padding: 8rem 0;
}
@media screen and (max-width: 768px) {
  .section-hero {
    padding: 4.8rem 0;
  }
}
.section-hero .hero {
  max-width: 130rem;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 9.6rem;
  align-items: center;
  padding: 0 6.4rem;
}
@media screen and (max-width: 768px) {
  .section-hero .hero {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 4.8rem;
    align-items: center;
    padding: 0 3.2rem;
  }
}
@media screen and (max-width: 768px) {
  .section-hero .hero__text .heading-primary {
    text-align: center;
    font-size: 4.5rem;
  }
}
@media screen and (max-width: 768px) {
  .section-hero .hero__text .btn-grouping {
    justify-content: center;
    flex-direction: column;
    text-align: center;
  }
}
@media screen and (max-width: 768px) {
  .section-hero .hero-img-box {
    display: flex;
    justify-content: center;
  }
}
.section-hero .hero-img-box img {
  width: 100%;
}
@media screen and (max-width: 768px) {
  .section-hero .hero-img-box img {
    width: 90%;
  }
}

.topnav {
  background: #fdf2e9;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2.3rem;
}
.topnav button {
  background: none;
  border: none;
  padding: 0;
}
@media (width >= 40em) {
  .topnav button {
    display: none;
  }
}
.topnav__open[aria-expanded=true] + .topnav__menu {
  translate: 0;
}
@media (prefers-reduced-motion) {
  .topnav__open[aria-expanded=true] + .topnav__menu {
    opacity: 1;
  }
}
.topnav__close {
  display: block;
  margin-inline-start: auto;
  margin-block-end: 8rem;
}
.topnav__close img {
  width: 3rem;
}
.topnav__logo img {
  height: 2.5rem;
}
@media screen and (max-width: 768px) {
  .topnav__logo img {
    height: 2rem;
  }
}
@media (width < 40em) {
  .topnav__menu {
    position: fixed;
    inset: 0;
    padding: 1.5rem;
    background: #fdf2e9;
    translate: 100vw 0;
    transition: translate 0.5s ease-in-out;
  }
}
@media (width < 40em) and (prefers-reduced-motion) {
  .topnav__menu {
    translate: 0;
    opacity: 0;
    transition: translate 500ms ease-in-out;
  }
}
.topnav__links {
  display: flex;
  gap: 3rem;
  align-items: center;
}
.topnav__links .topnav__item a {
  font-size: 1.8rem;
  color: #1c1c1c;
  font-weight: 500;
}
@media (width < 40em) {
  .topnav__links {
    flex-direction: column;
    gap: 3rem;
  }
}

.container {
  width: 100%;
  max-width: 130rem;
  margin: 0 auto;
}/*# sourceMappingURL=styles.css.map */