.btn {
  &:focus-visible {
    outline: 3px solid black !important;
    outline-offset: 3px;
    box-shadow: none;
  }
}

.btn-primary {
  color: white;
  &:hover {
    color: white;
  }
}

.btn-secondary {
  &hover {
    background: #8c9196;
  }
}
