.hero {
  // background: #f9f3ed !important;
  background: #fdf2e9 !important;
  .heading-primary {
    letter-spacing: -2px;
  }
  .hero-description {
    font-size: 2rem;
    line-height: 3.2rem;
  }
}

// .subheading {
//   color: #e98b39;
//   font-weight: 700;
//   font-size: 1.8rem;
//   letter-spacing: 0.75px;
// }

.section-how {
  .number-heading {
    font-size: 8rem;
    font-weight: 500;
    // color: rgba(128, 128, 128, 0.342);
    color: #949494;
  }

  .step-description {
    font-size: 1.8rem;
    line-height: 3.2rem;
  }
  .step-img {
    width: 70%;
    height: auto;
  }
}

.meal-info {
  text-align: center;
}

.icon-group {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
}

.icon-container {
  height: 8rem;
  width: 8rem;
  border-radius: 50%;
  background: #fdf2e9;
  display: flex;
  justify-content: center;
  align-items: center;
}

.icon {
  font-size: 4rem;
}

.icon-description {
  font-size: 1.8rem;
}

.card {
  padding: 2rem;
  gap: 2rem;
  border-color: #fdf2e9;
  box-shadow: 0 2.4rem 4.8rem 0 rgba(0, 0, 0, 0.075);
  transition: all 0.4s;
  &:hover {
    transform: translateY(-1.2rem);
    box-shadow: 0 3.2rem 6.4rem 0 rgba(155, 25, 25, 0);
  }
  &-img-top {
    border-radius: 6px;
    // border-bottom-left-radius: 2px;
    // border-bottom-right-radius: 2px;
  }
  &-body {
    padding: 0;
  }
  &-title {
    font-size: 2rem;
  }
  &-text {
    font-size: 1.8rem;
    line-height: 1.8;
  }
}

.link {
  text-decoration: none;
  color: #015891;
  font-weight: 600;
  font-size: 2rem;
  padding: 1rem;
  border-bottom: 2px solid transparent;
  transition: all 0.5;
  &:hover {
    border-bottom: 2px solid #015891;
  }
}
