.hero {
  // background: #f9f3ed !important;
  background: #fdf2e9 !important;
  .heading-primary {
    letter-spacing: -2px;
  }
  .hero-description {
    font-size: 2rem;
    line-height: 3.2rem;
  }
}

// .subheading {
//   color: #e98b39;
//   font-weight: 700;
//   font-size: 1.8rem;
//   letter-spacing: 0.75px;
// }

.section-how {
  .number-heading {
    font-size: 8rem;
    font-weight: 700;
    color: rgba(128, 128, 128, 0.342);
  }

  .step-description {
    font-size: 1.8rem;
    line-height: 3.2rem;
  }
  .step-img {
    width: 70%;
    height: auto;
  }
}
