.hero {
  // background: #f9f3ed !important;
  background: #fdf2e9 !important;
  .heading-primary {
    letter-spacing: -2px;
    @include sm-phone {
      font-size: 3.8rem;
      letter-spacing: -1px;
    }
  }
  .hero-description {
    font-size: 2rem;
    line-height: 3.2rem;
  }
}

.subheading {
  color: #e17619;
  font-size: 2rem;
  font-weight: 700;
  letter-spacing: 0.75px;
  @include sm-phone {
    font-size: 1.8rem;
  }
}

// .subheading {
//   color: #e98b39;
//   font-weight: 700;
//   font-size: 1.8rem;
//   letter-spacing: 0.75px;
// }

.section-how {
  .heading-secondary {
    @include sm-phone {
      font-size: 3rem;
    }
  }
  .heading-tertiary {
    @include sm-phone {
      font-size: 2rem;
    }
  }

  .number-heading {
    font-size: 8rem;
    font-weight: 500;
    color: #949494;
    display: inline-block;
    @include sm-phone {
      font-size: 6rem;
    }
  }

  .step-description {
    font-size: 1.8rem;
    line-height: 3.2rem;
  }
  .step-img {
    width: 70%;
    height: auto;
  }
}

.section-meals {
  .heading-secondary {
    @include sm-phone {
      font-size: 3rem;
    }
  }
  .heading-tertiary {
    @include sm-phone {
      font-size: 2rem;
    }
  }
}

.meal-info {
  text-align: center;
}

.icon-group {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.icon-container {
  height: 8rem;
  width: 8rem;
  border-radius: 50%;
  background: #fdf2e9;
  display: flex;
  justify-content: center;
  align-items: center;
  @include sm-phone {
    height: 11rem;
    width: 11rem;
  }
}

.icon {
  font-size: 4rem;
  @include sm-phone {
    font-size: 5rem;
  }
}
.icon-heading {
  font-size: 1.9rem;
  font-weight: 500;
  margin: 1rem 0;
}

.icon-description {
  font-size: 1.8rem;
  line-height: 1.3;
}

.card {
  padding: 2rem;
  gap: 2rem;
  border-color: #fdf2e9;
  box-shadow: 0 2.4rem 4.8rem 0 rgba(0, 0, 0, 0.075);
  transition: all 0.4s;
  &:hover {
    transform: translateY(-1.2rem);
    box-shadow: 0 3.2rem 6.4rem 0 rgba(155, 25, 25, 0);
    @include sm-phone {
      transform: none;
      box-shadow: none;
    }
  }
  &-img-top {
    border-radius: 6px;
    // border-bottom-left-radius: 2px;
    // border-bottom-right-radius: 2px;
  }
  &-body {
    padding: 0;
  }
  &-title {
    font-size: 2rem;
  }
  &-text {
    font-size: 1.8rem;
    line-height: 1.8;
  }
}

.link {
  text-decoration: none;
  color: #015891;
  font-weight: 600;
  font-size: 2rem;
  padding: 1rem;
  border-bottom: 2px solid transparent;
  transition: all 0.5;
  &:hover {
    border-bottom: 2px solid #015891;
  }
}

.company-logo {
  opacity: 50%;
  filter: brightness(0%);
}

.section-testimonials {
  background-image: url(/img/carissa-gan-KSXvrqKUxnc-unsplash.jpg);
  // background-image: url(/img/pablo-merchan-montes-GFW3dJRiMsQ-unsplash.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

#carouselExample .carousel-inner {
  /* Custom styling for the quote text */
  background-color: white;
  // padding: 8rem 10rem;
  border-radius: 3px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}

blockquote {
  padding: 3rem;
  @include sm-phone {
    padding: 0;
  }
}

.heading-carousel {
  color: #e17617;
  font-size: 2rem;
  font-weight: bold;
  @include sm-phone {
    font-size: 1.8rem;
  }
}

.quote {
  font-size: 2.4rem;
  font-weight: 700;
  color: #1c1c1c;
  @include sm-phone {
    font-size: 2rem;
  }
}

#carouselExample .blockquote-footer {
  /* Custom styling for the footer/citation */
  color: #1c1c1c; /* Bootstrap primary color for consistency */
  margin-top: 0.5rem;
  font-size: 1.8rem;
  font-weight: 700;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
  width: 3rem;
  height: 3rem;
}

.line {
  width: 100px;
  height: 4px;
  background-color: #e17617;
  margin: 32px auto 29px;
}

.premium {
  background: #fdf2e9;
}

.flexible {
  outline: 3.5px solid #fdf2e9;
}

.card-plan {
  padding: 4.8rem;
  border-radius: 0;
  box-shadow: none;
  @include sm-phone {
    padding: 1.5rem;
  }
  &:hover {
    transform: none;
    box-shadow: none;
  }

  .card-text {
    line-height: 0;
  }
  &-title {
    font-size: 2.2rem;
    color: #d97117;
  }
  &-price {
    font-size: 6rem;
    font-weight: 600;
    color: #333;
    margin-bottom: 1.6rem;
    span {
      font-size: 3.5rem;
      font-weight: 500;
      padding-right: 0.5rem;
    }
  }
  &-subtext {
    font-size: 1.6rem;
    line-height: 1.6;
    color: #6f6f6f;
  }
  .features-list {
    .list-item {
      display: flex;
      gap: 1.5rem;
      align-items: left;
      font-size: 1.8rem;
      line-height: 1.2;
      &:not(:last-child) {
        margin-bottom: 20px;
      }
    }
  }
  .btn {
    margin: 0 auto;
  }
}
