@import "_media-queries.scss";
@import "_mixins.scss";

.section-hero {
  background: $secondary-color;
  padding: $spacing-xxxl 0;
  @include tablet {
    padding: $spacing-xl 0;
  }

  .hero {
    max-width: 130rem;
    margin: 0 auto;
    @include grid-two-columns(9.6rem);
    padding: 0 $spacing-xxl;
    @include tablet {
      @include grid-one-columns($spacing-xl);
      padding: 0 $spacing-md;
    }
    &__text {
      .heading-primary {
        @include tablet {
          text-align: center;
          font-size: 4.5rem;
        }
      }
      .btn-grouping {
        @include tablet {
          justify-content: center;
          flex-direction: column;
          text-align: center;
        }
      }
    }
    &-img-box {
      @include tablet {
        display: flex;
        justify-content: center;
      }
    }

    &-img-box img {
      width: 100%;
      @include tablet {
        width: 90%;
      }
    }
  }
}

// .two-column-layout {
//   ;
// }

// Example usage of the 3-column grid mixin
// .three-column-layout {
//   @include grid-three-columns;
// }
