@import "_media-queries.scss";

.topnav {
  background: $secondary-color;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2.3rem;

  button {
    background: none;
    border: none;
    padding: 0;

    @media (width >= 40em) {
      display: none;
    }
    // @include tablet {
    // }
  }

  &__open[aria-expanded="true"] {
    + .topnav__menu {
      //Bring topnav menu back on screen from 100vw
      translate: 0;

      @media (prefers-reduced-motion) {
        opacity: 1;
      }
    }
  }

  &__close {
    display: block;
    margin-inline-start: auto;
    margin-block-end: 8rem;

    img {
      width: 3rem;
    }
  }

  &__logo img {
    height: 2.5rem;
    @include tablet {
      height: 2rem;
    }
  }

  &__menu {
    @media (width < 40em) {
      position: fixed;
      inset: 0;
      padding: 1.5rem;
      background: $secondary-color;
      translate: 100vw 0;
      transition: translate 0.5s ease-in-out;
    }
    @media (width < 40em) and (prefers-reduced-motion) {
      translate: 0;
      opacity: 0;
      transition: translate 500ms ease-in-out;
    }
  }

  &__links {
    display: flex;
    gap: 3rem;
    align-items: center;

    @media (width < 40em) {
      flex-direction: column;
      gap: 3rem;
    }
  }
}
