// Color Palette
$primary-color: #015891;
$secondary-color: #fdf2e9;

$font-family: "Rubik", sans-serif;
$font-size: 1.6rem;
$heading-primary-size: 5.2rem;
$heading-secondary-size: 4.4rem;
$heading-tertiary-size: 3rem;
